<button id="seedDataBtn" background-color="black" color="white">Seed habits</button>
    <script>
        document.getElementById("seedDataBtn").addEventListener("click", function() {
            fetch('/seed-data', { method: 'POST' })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;  
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>